net "clk" loc = T8;
net "nrst" loc = L3;

net "digit_segs<0>" loc = C7;
net "digit_segs<1>" loc = E6;
net "digit_segs<2>" loc = C5;
net "digit_segs<3>" loc = F7;
net "digit_segs<4>" loc = D6;
net "digit_segs<5>" loc = E7;
net "digit_segs<6>" loc = D5;
net "digit_segs<7>" loc = C6;

net "digit_sel<0>" loc = D8;
net "digit_sel<1>" loc = E8;
net "digit_sel<2>" loc = F9;
net "digit_sel<3>" loc = F10;
net "digit_sel<4>" loc = E10;
net "digit_sel<5>" loc = D9;
